body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #212121;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out, box-shadow 0.3s ease;
}

.navbar-brand, .nav-link {
    color: #212121;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffc107;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form-check-label {
    color: #212121;
    transition: color 0.3s ease-in-out;
}

.card {
    background-color: #ffffff;
    color: #212121;
    border: none;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 15px #ffc107;
}

.card .btn {
    background-color: #ffc107;
    color: #000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 8px #ffc107;
}

.card .btn:hover {
    box-shadow: 0 0 15px #ffc107;
}

footer {
    background-color: #ffffff;
    color: #212121;
    padding: 20px 0;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar.dark-mode {
    background-color: #1f1f1f;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.navbar.dark-mode .navbar-brand,
.navbar.dark-mode .nav-link {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.form-check-label.dark-mode {
    color: #e0e0e0;
}

.card.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.card.dark-mode:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2), 0 0 15px #ffc107;
}

.card.dark-mode .btn {
    background-color: #ffc107;
    color: #000;
    box-shadow: 0 0 8px #ffc107;
}

.card.dark-mode .btn:hover {
    box-shadow: 0 0 15px #ffc107;
}

footer.dark-mode {
    background-color: #1f1f1f;
    color: #e0e0e0;
}
